@import '~node_modules/modern-normalize/modern-normalize.css';

.header {
  background-color: #2e2ee0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1400px;
  padding: 10px 20px;
}

.search-form {
  width: 320px;
  height: 30px;
  display: block;
  margin: auto;
}

.search-form__input {
  width: 250px;
  height: 30px;
  margin-right: 5px;
}

.search-form__btn {
  height: 30px;
  width: 60px;
}
